/* 
    Document   : nm-stream
    Created on : 16.03.2014, 23:18:00
    Author     : Nm
    Description:
        Purpose of the stylesheet follows.
*/


body.page-node-292 .panel-separator{
    margin:0;
}
.nm-stream-node-container, .nm-stream-node-form-container{
    background-color: #eee;
    padding: 10px 15px;
    margin:0;
}

.nm-stream-node-container {
    display:block;
    margin:0;
    border:0;
    position:relative;
}

.nm-stream-node-form-container:hover, .nm-stream-node-container:hover {
    background-color: #e9e9e9;
}

.nm-stream-node{
    background-color: #fff;
    padding:15px;
    border:1px solid #dedede;
}


.nm-stream-top {

}
.nm-stream-left{

}

.nm-stream-top-middle {

}

.nm-stream-top-right {
    text-align: right;
}

.nm-stream-main{
    margin-top:10px;
}
.nm-stream-main-body{
    margin-bottom: 20px;
}

.nm-stream-modified {
    display: inline;
}

.nm-stream-created, .nm-stream-modified, .nm-stream-node-information, .nm-stream-privacy {
    color: #aaa;
    font-size: 12px;

}

.nm-stream-actions
{
    display: block;
    text-align: right;
    font-size: 12px;
}
.nm-stream-top-right{
    position:relative;
}
/*
    hover
*/

.nm-stream-actions i, .nm-stream-node-information i, .nm-stream-node-information .caret{
    opacity:0.7;
}
.nm-stream-actions i {
    margin-left: 5px; 
}

.nm-stream-node-information {
    margin-top:20px;
    margin-bottom:20px;
    position:relative;
}

.nm-stream-node-information .caret{
    margin-top: 7px;
}
.nm-stream-comments-section {
    background-color:  #f6f6f6;
    border: 1px solid #dedede;
    border-top: 0;
}

.nm-stream-comments{
    padding: 0 15px;
}
/*
.nm-stream-node-information a, .nm-stream-node-information a:hover {
    color: #666;
}*/


.nm-stream-comment{

}

.nm-stream-comments-form{
    margin-bottom: 20px;
}

.nm-stream-comment-form-container{
    margin-top: 10px;
}
.nm-stream-comment-form, .nm-stream-node-form{
    border:1px solid #eee;
    padding:11px 8px;
    color: #aaa;
    background-color: #fff;
    font-size:12px;
}

/*
ADD NODE FORM
*/

.nm-stream-node-form-container {

}

.nm-stream-node-form-container .spinner, 
.nm-stream-comment-form-container .spinner,
.nm-stream-comment .spinner,
.nm-stream-node .spinner
{
    top:15px;
    right:18px;
}

.nm-stream-actions {
    position:relative;
}
.nm-stream-actions .spinner{
    top:10px;
    right:170px;
}

.nm-stream-node-information .spinner {
    display:inline-block;
    margin-left: 14px;
    margin-top: 7px;
}

.nm-stream-comments-form:hover .nm-stream-comment-form, .nm-stream-node-form-container:hover .nm-stream-node-form {
    border:1px solid #aaa;
    color: #888;
}

.nm-stream-comment-form-container form, .nm-stream-node-form-container form{
    display:none;
}

.nm-stream-add-comment-actions, 
.nm-stream-edit-comment-actions,
.nm-stream-add-node-actions, 
.nm-stream-edit-node-actions
{
    text-align: right;
    position:relative;
}

.nm-stream-add-comment-actions .nm-stream-comment-submit, 
.nm-stream-edit-comment-actions .nm-stream-comment-submit, 
.nm-stream-add-node-actions .nm-stream-node-submit,
.nm-stream-edit-node-actions .nm-stream-node-submit
{
    padding:4px 34px;
}

.nm-stream-add-node-actions .dd-select, 
.nm-stream-add-node-actions  .dd-options,
.nm-stream-edit-node-actions .dd-select, 
.nm-stream-edit-node-actions  .dd-options,
.nm-stream-node-container .dd-container,
.nm-stream-node-form-container  .dd-container
{
    width:130px !important;
}
.nm-stream-add-node-actions .dd-selected, 
.nm-stream-add-node-actions  .dd-option,
.nm-stream-edit-node-actions .dd-selected, 
.nm-stream-edit-node-actions  .dd-option 
{
    padding: 3px;
    text-align: left;
}

#nm-stream-add-node-privacy,
[id^="nm-stream-edit-node-privacy-"] 
{
    display:inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}

.nm-stream-add-node-actions .dd-select label, 
.nm-stream-add-node-actions .dd-options label,
.nm-stream-edit-node-actions .dd-select label, 
.nm-stream-edit-node-actions .dd-options label
{
    margin:0;
    font-size:12px;
    /*
    line getting higher on selection.. fix
    */
    line-height:22px !important;
}


/*
Upload
*/

.nm-stream-edit-node-attachments, .nm-stream-add-node-attachments {
    margin-bottom:10px;
    background-color: #eee;
    border-bottom:1px solid #ccc;
    padding:5px 0;
    text-align: left;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.nm-stream-attachments {
    margin-bottom:10px;
    position:relative;
}
.nm-stream-attachments .file-container{
    position:relative;
}

.nm-stream-attachments .file-container .spinner{
    top:7px;
    right:12px;
}
.nm-stream-attachments-title {
    margin-bottom:5px;
    font-weight:bold;
    font-size:13px;
    color: #666;
}

.nm-stream-attachments-main .file {
    margin-right:3px;
}
.nm-stream-attachments-main .file-container {
    margin-right:5px;
    display: inline-block;
    margin-top:5px;
}
.nm-stream-attachments-main .file-container .nm-stream-file-delete{
    margin-right:5px;
    
}
.nm-stream-attachments-main .file-container .nm-stream-file-delete i{
    margin-top:2px;
}
/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.fileupload-list .MultiFile-label{
    margin-top: 10px;

}

.fileupload-list .MultiFile-title{
    margin-left:10px;
}