.bash*
.profile
.cache/
.drush/
.gitconfig
.ssh/
.mysql_history

drush-backups/
log/
private/

web/.htaccess
web/tmp
web/stats
web/sites/*/settings*.php
files_private/
tmp/


okl-testing/composer.lock
okl-testing/bin/
okl-testing/tests/_support/_generated/AcceptanceTesterActions.php
okl-testing/vendor
okl-testing/tests/_output
okl-testing/tests/acceptance.suite.yml
okl-testing/tests/functional.suite.yml
okl-testing/tests/unit.suite.yml