# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

tmp/*

# Ignore paths that contain user-generated content.
sites/*/files

# track default images
!sites/*/default_images

sites/*/private

# imb specific
.bash*
.profile
