.bash*
.profile
.cache/
.drush/
.gitconfig
.ssh/
.mysql_history

drush-backups/
log/
private/

web/.htaccess
web/tmp
web/stats
web/sites/*/settings*.php
files_private
tmp/


okl-testing/composer.lock
okl-testing/phantom-cookies.txt
okl-testing/bin/
okl-testing/tests/_support/_generated/
okl-testing/vendor
okl-testing/vendor_development
okl-testing/tests/_output
