/* 
    Created on : 05.05.2017, 12:07:42
    Author     : Bernhard
*/

.home_picture_hover
{
    color:white;
    position: relative;   
    top: -52px;
    padding-left: 8px; 
    padding-top:3px;
    padding-bottom:3px
}
.home_picture_hover_username
{
    width:278px;
}

/*profil-bearbeiten-pencil auf start*/
.home_profile_hover_edit
{
    left:250px;
    top:-180px;
    width: 25px;
}

.home_profile_hover_edit a
{
    color: #333333;
}
.home_profile_hover_edit a:hover
{
    color:white;
}

.home_background_black_transp
{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7);
}
/*profilbild zentriert auf profil-bg*/
#home_profile_picture img{
    margin-left: 49px;
    position: absolute;   
    top: 0;;
}
/*meine Kurse-Widget*/
a.home_course_item
{
    display: block;
    margin-bottom: 10px;
    min-height: 70px;
}
a.home_course_item:hover .home_course_preview-hover_box
{
    color: #E9E9E9;
}

.home_course_preview{
    background-size: cover ;      
    background-repeat: no-repeat;;  
    height: 70px ;   
}
.home_course_preview-hover_box
{    color:white;
     margin-top: -20px;
     height: 20px;
     overflow: hidden;
}


h2.pane-title
{
    margin-top:0;
}
/*meine Lehrtexte */
ul.ul_my_domains
{
    padding-inline-start: 13px;
}
ul.ul_my_domains li{
    color: #337AB7;
}