div.annvid_pdf  {
    margin-left: 2em; 
}
div.annvid_pdf > div, div.gradient_background {
    background-color: #f2f2f2;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  
}
div.gradient_background{
    padding:1em;
}


.nm-stream-main-body {
      transition: all 0.6s;
}
.annotation_highlighted
{   border-left: 8px solid #FFFFC8;
    padding-left:0.4em;
    margin-left:0.3em;
}
.annotation_container_highlighted
{
    background-color: #FF873A !important;
}
.annvid_container
{ 
}
.annvid_loading_div 
{
    width:100%;
    height:100%;
    position:absolute;
    background: white;
    z-index:20;
}
div#stream_timeline{
    margin-top: 4px;
    margin-bottom: 4px;
    border:1px solid #AAAAAA;
    height:24px;
    background: #EEEEEE;
}
div#stream_timeline div#timemark
{    position:absolute;
    z-index: 3;
    opacity: 0.8; 
    height:24px;
    width:3px; 
    background-color:#FF7617;    
}
div#stream_timeline img.timeline_profile
{
    width:20px;
    margin-top:2px;
    position:absolute;
    z-index: 2;
}