div.annvid_pdf  {
    margin-left: 2em; 
}
div.annvid_pdf > div, div.gradient_background {
    background-color: #f2f2f2;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  
}
div.gradient_background{
    padding:1em;
}


.nm-stream-main-body {
      transition: all 0.6s;
}
.annotation_highlighted
{   border-left: 8px solid #FFFFC8;
    padding-left:0.4em;
    margin-left:0.3em;
}
.annotation_container_highlighted
{
    background-color: #FF873A !important;
}
.annvid_container
{ 
}
.annvid_loading_div 
{
    width:100%;
    height:100%;
    position:absolute;
    background: white;
    z-index:20;
}
div#stream_timeline{
    margin-top: 4px;
    margin-bottom: 4px;
    border:1px solid #AAAAAA;
    height:24px;
    background: #EEEEEE;
}
div#stream_timeline div#timemark
{    position:absolute;
    z-index: 3;
    opacity: 0.8; 
    height:24px;
    width:3px; 
    background-color:#FF7617;    
}
div#stream_timeline img.timeline_profile
{
    width:20px;
    margin-top:2px;
    position:absolute;
    z-index: 2;
}
div#annvid_pdfbutton
{
    text-align: right;
    margin-bottom:1em;
}
#annvid_pdfdiv
{
    display:none;
}
#annvid_pdfdiv.pdf_visible
{
    display:block;
}

/*der pdf-button rechts neberm video: element wird durch rotation und position von oben nach rechts verschoben*/
#annvid_video_fahne
{
    transform: rotate(90deg);
    transform-origin: 0 0 ;       
    border: none;
    position: absolute; 
    left:102%
}

#annvid_video_fahne > li > a
{
    cursor: pointer;   
}

#annvid_button_show_pdf_container  #annvid_button_show_pdf
{
    padding: 0px;
   margin-top: -10px
} 


/*custom style fuer einen dunkleren button (pdf-open-close)*/
.annvid_dark_button
{
     background:  #222222 !important;
    color: #ffffff !important;;
}
.annvid_dark_button:focus, .annvid_dark_button:hover{
      background: #4C4C4C !important;;
}


/*STYLES für Scroll-runter-Verhalten mit fixed Elementen*/
#annvid_video_placeholder
{
    display: none;
}  
/*video*/
#annvid_video_container.annvid_active_scroll_mode{
    position: fixed;
    width: 400px;
    z-index: 1001; /*boah, so hoch?!*/
    top: 22px;
    background: #ffffff;
    -webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.75);
}
/*der annvid-pdf-container*/
#annvid_pdfdiv.pdf_visible.annvid_active_scroll_mode
{
    position: fixed;
    z-index: 5;
    top: 0px;
    margin-left: 50%;;
}
/*der eigentliche pdf-container
die height wird per JS gesetzt */
#annvid_pdfdiv.pdf_visible.annvid_active_scroll_mode .html5pdf_pdfscrollcontainer
{
    background:#ffffff;
}
 