
body.dev{
    background: #FCF2E3 !important;
}
body.dev #page_top_navigation
{
    background-image: url("../img/dev-bg.png") !important;
    background-color: orange !important;
}
/*navi nicht mehr erkennbar*/
body.dev #page_top_navigation li a.top_nav_link
{
    color: #791B1C !important;
}
body.dev #page_top_navigation li a.top_nav_link:hover
{
    color:white !important;
}

body.dev #page_top_navigation  a.navbar-brand img{
    transform: rotate(180deg);
}

div.dev_overlay
{
    position:absolute;
    top:0px;
    z-index:9999;
    background: red;
    color: blue;
    font-weight:bold;
    width:100%;
    height:100%;
}
div.dev_overlay .dev_overlay_inner
{
   width:50%;
   height:50%;
   text-align: center;
   margin: auto;
   margin-top: 10%;
}
a#goto_dev
{
    font-weight:normal;
    font-size:7px;
}
/*admin-funktionalität */ 
body.dev div#overlay, body.dev div#branding
{   
    background-image: url("../img/dev-bg.png") !important;
    background-color: rgba(255, 165, 0, 0.7) !important;
}
body.dev h1#overlay-title
{
    color:black;
} 
body.dev div.overlay-modal-background
{
       background-image: url("../img/dev-bg.png") !important;
    background-color: rgba(255, 165, 0, 0.7) !important;
}