/* 
    Document   : section_domains
    Created on : 18.12.2013, 07:05:09
    Author     : Nm
    Description:
        Purpose of the stylesheet follows.
*/


/*
HEADER
*/
#space_header_title {
   z-index:5; 
   position:absolute;
    color: #ffffff;
    left: 10px;
    bottom: 0;
    overflow:hidden;
}
#space_header_title h1 {
    font-weight: normal;
}


/*
Navigation
*/

.nav_tabbox a.tab{
  padding:10px 10px 12px 15px;
  display: block;
  font-size: 24.5px;
  line-height:24.5px;
  margin-bottom: 20px;
  background-color: #eee;
  color: #555;
}

.nav_tabbox a.tab:hover{
  text-decoration: none;
  background-color: #cfcfcf;
}

.nav_tabbox .active a.tab{
  background-color: #cecece;
}

/*
Main
*/
.space_main_container .tabpanel{
  display:none;
}

.space_main_container .tabpanel.active{
  display:block;
}

