/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.11.2017, 14:53:12
    Author     : Bernhard
*/


#page-header{
    display: none;
}

/*große box auf home*/
.front-wrapper-osl {
    height: 530px;
    background:url('/sites/all/modules/onlinekurslabor/schullabor/assets/images/osl_start_gradient.jpg');
    background-size: cover;
    font-size: 16px;
    color: white;
    background-attachment: fixed;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;

}
/*text in großer box*/
.front-wrapper-osl .text-container
{
    padding: 38vh 15px 5vh;
    max-width: 440px;
}

#startpage-okl-description-foerderer {
    margin-top: 550px;
}

body.front #home_loggedout {
    margin: 0;
}
