
/*
This document contains structural markup such as widths, margins, padding, and
floats.
*/

/*** PAGER ******************************************************************/
/* This is the pager on the topics in the list */
.topic-pager {
    font-size: 90%;
    font-style: italic;
}

/* Other pagers in the forum */
#forum-comments .pager {
    text-align: right;
}

#forum-comments .pager li {
    padding: 3px;
    margin: 0;
}


.forum-pager .pager,
.forum-comment-wrapper .pager {
    text-align: right;
    float: right;
    clear: none;
    width: 30%;
}

#forum-pager-top .pager{
    padding: 14px 0 0 0;
}

#forum-pager-bottom .pager{
    padding: 0 0 10px 0;
}

/* The rest of the pager styles are invisible on naked but will show up
   for substyles that set a background and/or border. */
.forum-pager .pager a,
.forum-comment-wrapper .pager a {
    padding: 1px 3px;
    margin: 0pt;
}

.forum-pager .pager li,
.forum-comment-wrapper .pager li {
    padding:0pt;
    margin: 0pt;
}

.forum-pager.pager li.pager-current,
.forum-comment-wrapper .pager li.pager-current {
    padding: 2px 3px 2px 3px;
}

/*** FORUM LINK LISTS *******************************************************/

/* Applies to all forum links */
ul.forum-links li {
    display: inline;
}

/*** FORUM NODE CREATION ****************************************************/

.forum-node-create-links {
    width: 30%;
    /*float: left;*/
}

.forum-node-create-links-top {
    /*clear: both;*/
    padding-top: 20px; /* Lines up horizontally with pager. */
}

.forum-node-create-links .forum-add-node {
    /*float: left;*/
    margin-right: 10px;
}

/*** FORUM & TOPIC LIST TABLES **********************************************/

.forum-table {
    margin: 0;
}

.forum-table-wrap,
.forum-table-topics {
    margin-bottom: 15px;
    clear: both;
}

.forum-table-superheader {
    padding: 10px;
}

.forum-table-superheader .forum-table-name {
    margin: 5px 0 3px 5px;
    width: 90%;
    display: inline;
    font-size: 1.2em;
}

.forum-table-superheader .forum-table-description {
    margin: 0 0 3px 5px;
    width: 90%;
}

/* Header, both tables */
.forum-table th {
    text-align: left;
}

/* Forum listing */
th.forum-name {
    text-align: left;
}

th.forum-icon {
    width: 5%;
}

td.forum-details {

}

td.forum-details .forum-description {
    margin: 0;
}

td.forum-details .forum-subforums,
td.forum-details .forum-subcontainers {
    margin-left: 10px;
    font-size:90%;
}

th.forum-topics,
th.forum-posts {
    width: 10%;
    text-align: center;
}

td.forum-number-topics,
td.forum-number-posts {
    text-align: center;
}

th.forum-last-post {
    width: 20%;
    text-align: left;
}

td.forum-last-reply {
}
/**** Topic listing ****/

.view-advanced-forum-topic-list .view-empty {
    clear: both;
    margin: 20px 0 20px 0;
    padding: 10px;
}

/* Set column widths */
.forum-table-topics td.views-field-topic-icon {
    width: 26px;
}

.forum-table-topics td.views-field-title {

}

.forum-table-topics td.views-field-comment-count,
.forum-table-topics td.views-field-totalcount {
    width: 10%;
}

.forum-table-topics td.views-field-last-updated {
    width: 30%;
}

/* Set alignments & spacing */
.forum-table-topics .views-field-title {
    text-align: left;
}

.forum-table-topics td.views-field-comment-count,
.forum-table-topics td.views-field-totalcount {
    text-align: center;
    white-space: nowrap;
}

.forum-table-topics td.views-field-last-updated {
    line-height: 140%;
    white-space: normal !important;
}

/* Topic icon */
.forum-table-topics span.topic-icon {
    display: block;
}

/*** FORUM SORT *************************************************************/
#advanced-forum-forum-topic-list-sort-form,
#advanced-forum-forum-topic-list-sort-form input,
#advanced-forum-forum-topic-list-sort-form .form-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: center;
}

#forum-sort {
    clear: both;
    float: left;
}

/*** FORUM TOOLS ***********************************************************/

.forum-tools{
    float: right;
    margin-top: 10px;
}

/*** FORUM STATISTICS *******************************************************/

#forum-statistics-header,
.forum-statistics-sub-header {
    padding: 0.3em 0.5em;
}

.forum-statistics-sub-body {
    padding: 0.3em 0.5em 0 2em;
}


/*** ICONS LEGEND ***********************************************************/

.forum-list-icon-legend {
    margin-bottom: 30px;
}

.forum-list-icon-legend div {
    float: left;
    margin-right: 30px;
}

.forum-topic-legend div {
    clear: both;
    float: left;
    padding: 5px 0 5px 25px;
    margin-right: 7px;
}


/*** FORUM TOPICS **********************************************************/

/* Header at the top of each topic/thread */
.forum-topic-header {
    margin: 10px 0 2px 0;
}

.forum-topic-header .search-topic {
    float: right;
}

.forum-topic-header .topic-post-count {
    clear: right;
    float: right;
    margin: 7px 7px 0 0;
}

.forum-topic-header .topic-reply-link,
.forum-topic-header .topic-new-post-link,
.forum-topic-header .last-post-link {
    float: left;
    margin: 0 7px 7px 0;
}


.forum-topic-header .reply-count {
    float: right;
    margin: 10px 0 2px 0;
}

/* Individual forum post */
div.forum-post {
    margin: 0 0 5px 0;
    padding: 0;
}

.forum-post-wrapper {
    clear: both;
    height: 100%;
}

/* Header at the top of each post */
.forum-post-info {
    height:100%;
    clear: both;
}

.forum-posted-on {
    padding: 0 5px;
    float: left;
    font-size: .8em;
}

.forum-post {
  position:relative;
}

.forum-post .new {
    float: none;
}

.forum-post-number {
    float: right;
    margin-right: 5px;
}

.forum-post-title {
    /*padding: 1px 1px 1px 10px;*/
    padding:0;
    margin:0;
    display:inline;
    font-weight:bold;
    position:absolute;
    left:190px;
}

/* Author information pane */
.forum-post-panel-sub {
    float: left;
    line-height: 100%;
    width: 180px;
}

.forum-post-panel-sub .author-pane {
    margin: 15px;
}

.forum-post-panel-sub .author-pane .author-name {
    font-size: 120%;
}

.forum-post-panel-sub .author-pane .picture {
    float: none;
    padding-left: 0px;
    margin: 2px 0 10px 0;
}

.forum-post-panel-sub .author-pane .picture img {
    padding: 5px;
}

.forum-post-panel-sub .author-pane .author-pane-section {
    margin-bottom: 10px;
}

.forum-post-panel-sub .author-pane .author-pane-line {
    margin-bottom: 7px;
}

/* Post text area */
.forum-post-panel-main {
    margin-left: 180px; /*Set left margin to LeftColumnWidth*/

    /* These heights keep the AP items from jumping out of the bottom. Depending
       on how many items you display, there, this number may need to be adjusted
       to avoid having unnecessary white space in your posts. */
    min-height: 230px;
    height: auto !important;
    height: 230px;
    background-color: #fff;
    border-left: 1px solid #aaa;
}

.forum-post-panel-main .forum-post-content {
    padding-top: 2px;
}

.forum-post-panel-main .post-title,
.forum-post-panel-main .forum-post-content {
    margin-left: 0;
    padding-left: 10px;
}

.forum-post-panel-main p {
    margin-right: 10px;
}

/* Signature */
.author-signature {
    margin: 10px 0 5px 10px;
}

/* Edited */
.post-edited {
    margin: 10px;
}

/* Post footer */
.forum-post-footer {
    margin-top: 0;
    clear: both;
}

.forum-jump-links {
    float: left;
    line-height: 2em;
    margin: 5px;
}

.forum-post-links {
    float: right;
    line-height: 2em;
    text-align: right;
    margin: 5px 0 5px 5px;
}

.forum-post-links ul.links li {
    display: block;
    float: left;
}

.forum-top-post-footer {
    margin: 10px 0 10px 0;
    padding: 5px;
}

/* Defeat garland */
#comments.forum-comment-wrapper {
    margin-top: 0;
}

.forum-comment-wrapper .box {
    clear: both;
}

/*** SEARCH ****************************************************************/

#search-all-forums {
    float: right;
}

#search-single-forum {
    float: left;
}

#advanced-forum-search-forum,
.forum-topic-header #advanced-forum-search-topic {
    margin: 0;
    padding: 14px 0 0 0;
}

#advanced-forum-search-forum input,
.forum-topic-header #advanced-forum-search-topic input {
    margin: 0;
    padding: 0;
}

.forum-topic-header #advanced-forum-search-topic {
    margin-bottom: 10px;
}

.view-avf-search .views-row,
.view-avf-search-topic .views-row {
    margin-bottom: 2em;
}

.forum-search-result {
    margin-bottom: 10px;
}

/*
customization
*/

/*
Forum overview
*/
table.forum-table-okl {
    border-collapse: separate;
    border-spacing: 0px 3px;
}
.forum-table-okl .forum-row{
    background-color: transparent;
    color: #333;
}

.forum-table-okl tr.forum-row:hover{
    background-color: #eee;
}

.forum-table-okl .forum-row td{
    padding-top:5px;
    padding-bottom:10px;
}

.forum-table-okl .forum-row a{
    color: #0088cc;
    font-weight: bold;
}
.forum-table-okl .forum-row a.username, div#forum-topic-list a.username {
    font-weight: normal;
}
div.forum-post-panel-sub, div.forum-post-footer, div.author-pane a.author-pane-link, span.forum-post-number
{
    font-size: 12px;
}


.forum-table-okl .forum-row {
    color: #555;
}


.forum-table-okl thead tr {
    background-color: transparent;
}
.forum-table-okl thead tr th {
    padding-top:5px;
    padding-bottom:10px;
    color: #333333;
}

/*
topic list
*/
.pane-forum-topic-list tr {
    background-color: transparent;
    color: #333;
}
.pane-forum-topic-list tr:hover{
    background-color: #eee;
}


.pane-forum-topic-list a{
    color: #0088cc;
    font-weight: bold;
}

.pane-forum-topic-list a:hover {
    color: #005580;
}

.pane-forum-topic-list table {
    border-collapse: separate;
    border-spacing: 0px 3px;
}

.pane-forum-topic-list thead tr, .pane-forum-topic-list thead tr:hover  {
    background-color: transparent;
}
.pane-forum-topic-list thead tr th {
    padding-top:5px;
    padding-bottom:10px;
    color: #333;
}


/*
posts
*/

.forum-post {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

}
.forum-post .forum-post-wrapper {
    background-color: transparent;
}
.forum-post .forum-post-info,.forum-post .forum-post-footer{
    color: #333;
    background-color: #eee;

}
.forum-post .forum-post-info {
  border-bottom: 1px solid #aaa;
}

.forum-post .forum-post-footer {
  border-top: 1px solid #aaa;
}

.forum-post .forum-post-info a, .forum-post .forum-post-footer a {
    color: #0088cc;
}
.forum-post .forum-post-info {
    padding:5px 5px;
}
.forum-post .forum-jump-links {
    margin-left:10px;
}
.forum-post .author-pane{
    color: #eee;
}

.forum-post .author-pane a{
    color: #0088cc;
    font-weight: bold;
}
.forum-post .forum-post-content, .forum-post .forum-post-title, .forum-post .post-edited{
    
    margin: 0;
}

.forum-post .forum-post-content {
    min-height: 230px;
    color: #333333;
    margin-top: 10px;
    padding-top:0;
}


.forum-post .post-edited {
    padding:10px;
}

.forum-post + form.comment-form{
    margin:auto;
    margin-top:40px;
    width:80%;
    padding:10px;
    border:1px solid #EEEEEE;
    
}


.indented {
    margin-left: 30px;
}

.af-button-large {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  /*border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;*/
}

.af-button-large:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.af-button-large:hover,
.af-button-large:focus {
  color: #333333;
  text-decoration: none;
}

.af-button-large:active,
.af-button-large.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.af-button-large.disabled,
.af-button-large[disabled],
fieldset[disabled] .af-button-large {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.af-button-large {
  color: #ffffff !important;
  font-weight: normal !important;
  border-color: #cccccc;
  background-color: #467DBD;
  
}

.af-button-large:hover,
.af-button-large:focus,
.af-button-large:active,
.af-button-large.active,
.open .dropdown-toggle.af-button-large {
  color: #fff;
  border-color: #adadad;
  background-color:#426DA0; 
}

.af-button-large:active,
.af-button-large.active,
.open .dropdown-toggle.af-button-large {
  background-image: none;
}

.af-button-large.disabled,
.af-button-large[disabled],
fieldset[disabled] .af-button-large,
.af-button-large.disabled:hover,
.af-button-large[disabled]:hover,
fieldset[disabled] .af-button-large:hover,
.af-button-large.disabled:focus,
.af-button-large[disabled]:focus,
fieldset[disabled] .af-button-large:focus,
.af-button-large.disabled:active,
.af-button-large[disabled]:active,
fieldset[disabled] .af-button-large:active,
.af-button-large.disabled.active,
.af-button-large[disabled].active,
fieldset[disabled] .af-button-large.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.forum-topic-title {
    display:block;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.views-field-title {
    padding-left:0px;
    padding-bottom: 10px;
}

.views-field-topic-icon  {
    padding: 7px 0 7px 7px; 
    display: block;
    margin:0;
    
}

.views-field-topic-icon{
    margin: auto;
    
}
