/*
    Document   : nm-stream
    Created on : 19.03.2017, 23:18:00
    Author     : Nm
    Description:
        Purpose of the stylesheet follows.
*/


#stream-aggregated,
#stream-wrapper {
  margin-top: 0 !important;
  padding: 0;
}
#stream-aggregated,
#stream-wrapper {
  max-width: 100%;
}


#stream-wrapper .post-context {
  font-size: 12px;
  margin-bottom: 10px !important;;
  opacity: 0.8 !important;;
}

#stream-wrapper .post-context span {

}

#stream-wrapper .card,
#stream-wrapper .stream-post {
  padding: 15px 0 !important;
}

#stream-wrapper .stream-post > div {
  padding: 0;
}

#stream-wrapper .stream-post-form,
#stream-wrapper .stream-post-form .stream-attachments,
#stream-wrapper .stream-post-form .action-buttons,
#stream-wrapper .stream-post-form > div,
#stream-wrapper .stream-comment-form > div,
#stream-wrapper .stream-comment-form .action-buttons {
  padding: 0 !important;
}

#stream-wrapper .action-buttons div[class^="col-"] {
  padding: 0 !important;
}

#stream-wrapper .action-buttons div button {
  margin-left: 7px !important;
}

#stream-wrapper .stream-comment-form {
  padding: 15px 0;
}

#stream-wrapper .post-actions-dropdown .dropdown-toggle {
  margin-top: -5px;
  font-weight: bold;
  font-size: 16px;
}

#stream-wrapper .stream-comment {
  padding: 15px 0px;
}

#stream-wrapper .stream-comment > .row > .col-10,
#stream-wrapper .stream-post > .row > .col-10 {
  padding: 0 !important;
}

#stream-wrapper .stream-post > .row > .col-10.offset-2 {
  padding-right: 15px !important;
}

#stream-wrapper .stream-post-attachments,
#stream-wrapper .action-buttons {
  margin-top: 20px;
}

#stream-wrapper .action-buttons button {
  height: 35px;
}

#stream-wrapper button.btn,
#stream-wrapper .action-buttons button.btn,
#stream-wrapper .dropdown-item {
  font-size: 12px;
}

#stream-wrapper .stream-action-2 > .col-12 {
  padding: 0;
}

#stream-wrapper .multiselect__single {
  margin: 0;
}

#stream-wrapper .stream-post-form .multiselect__tags {
  min-height: 35px;
  display: block;
  padding: 4px 30px 0 8px;
}

#stream-wrapper .stream-post-privacy-settings {
  min-width: 140px;
  max-width: 165px;
  float: left;
}

#stream-wrapper .multiselect__single span.option__desc,
#stream-wrapper .multiselect__content-wrapper span.multiselect__option,
#stream-wrapper .multiselect__single span.option__title {
  font-size: 14px !important;
  min-height: auto;
}

#stream-wrapper .multiselect__select {
  height: 35px;
}

#stream-wrapper .multiselect__content-wrapper span.multiselect__option {
  padding: 7px 15px;
}

#stream-wrapper .back-delete .stream-post {
  padding: 15px !important;
}

#stream-wrapper .modal.fade.show {
  opacity: 1 !important;
}

#stream-wrapper .modal.fade .modal-dialog {
  transform: translate(0, 50%) !important;
}

#stream-wrapper .stream-post-footer {
  margin-top: 15px;
}


#stream-wrapper .dz-error .dz-error-message {
  opacity: 1 !important;
  display: block;
  top: -5%;
}


#stream-wrapper .custom-control.custom-checkbox {
  margin: 2rem 0 !important;
}

#stream-wrapper .custom-control .custom-control-label {
  padding-left: 5px;
}

#stream-wrapper .custom-control .custom-control-label::after,
#stream-wrapper .custom-control .custom-control-label::before {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

#stream-wrapper .poll-actions {
  margin-top: 2rem;
}

#stream-wrapper .stream-post h4 {
  font-weight: bold;
}

#stream-wrapper .poll-container > .col-12 {
  padding: 0;
}

#stream-wrapper .row:before, #stream-wrapper .row:after {
  width: 0;
}
