/* 
    Document   : section_domains
    Created on : 18.12.2013, 07:05:09
    Author     : Nm
    Description:
        Purpose of the stylesheet follows.
*/


/*
HEADER
*/


/*
Navigation
Redundant with section_spaces.css - but spaces is deactivated for now!
*/

.nav-tabbox{
    background-color: #604a7b;
    position: relative;
    float:left;
    margin-bottom: 20px;
}

.nav-tabbox > div:first-child {
    margin-left:10px;
}
.nav-tabbox > div {
    float: left;
    border: 1px solid #999;
    border-top:0;
    border-bottom:0;
    margin-left:-1px;
}
.nav-tabbox a.tab,
.nav-tabbox a.statictab {
    padding:11px 15px;
    display: block;
    background-color: #5d455c;
    color: #555;
    float: left;
    color: #fff;
    text-shadow: none;
}

.nav-tabbox a.tab:hover,
.nav-tabbox a.statictab:hover
{
    text-decoration: none;
    background-color: #4f3f56;

}

.nav-tabbox .active a.tab
{
    background-color: #45364b;
}

/*
Main
*/
.projects_cockpit_main_container .tabpanel{
    clear: both;
    display: none;
    float: left;
}

.projects_cockpit_main_container .tabpanel .span12 {

}

.projects_cockpit_main_container .tabpanel.active{
    display: block;
}

#course_header_title {
    z-index: 10;
}
#course_header_title a{
    color: #fff;
}
.node--projects-cooperation-agreement, .node--projects-objective, .node--projects-documentation
{  background: #F1EFF1;
    border:1px solid #C4B8A9;

    color: #484848;
 
}
.node--projects-cooperation-agreement tr, .node--projects-objective tr, .node--projects-documentation tr
{
    
}
.node--projects-cooperation-agreement tr td, .node--projects-objective tr td, .node--projects-documentation tr td
{
    padding:20px;
}
.node--projects-documentation th
{ 
    font-weight:normal;
    padding-bottom:18px;
   
}


.projects-seal-widget
{/*notwendig, um den div "existent" zu machen (klickbar)*/
    height:95px;
    margin-bottom:20px;
}

.projects-seal-widget .entry
{ 
    float:left;
    margin-right:1em;

    text-align:center;
    font-size:80%;
    
    position:relative;

}

.projects-seal-widget a {
    display:block;
    
    width:80px;
    height:110px;
}

.projects-seal-widget a.noaction
{
    cursor: not-allowed;
    color: #888;
}
.projects-seal-widget a.noaction:hover
{
    text-decoration: none;
    color: #888;
}
.projects-seal-widget .action
{
    background: #DCEBF9;
}
.projects-seal-widget .action .spinner {
    top:30%;
    left:50%;
}
.projects-seal-widget .entry .sprite-background
{
    background-image:url("../icons/icons-sign-widget.png");
    margin:auto;
    height:70px;
    width:60px;
}


.projects-seal-widget .entry .signed
{
    background-position: 180px 0%;
}
.projects-seal-widget .entry .sign
{
    background-position: 240px 0%;
}
.projects-seal-widget .entry .unsigned
{
    background-position: 120px 0%;
}

.projects-seal-widget .entry .withdraw
{
    background-position: 300px 0%;
}