.page-administration table {
    table-layout: fixed;
}

.page-administration table th.views-field-views-bulk-operations {
    width: 5%;
}
.page-administration table td {
    word-wrap: break-word;
}

.administration-exposed-filter {
    padding: 10px;
    background-color: #eee;
}

.page-administration .nav-list > li:not(.active) > a.active {
    background-color:transparent;
}

/*Hochgeladen von bei Files*/
div#edit-date-filter-from-wrapper input.form-text, div#edit-date-filter-to-wrapper  input.form-text
{
    width: 100px;
}