

.h5p-interactive-video .h5p-interaction 
{
position:relative;
}
div.h5p_annotationlist
{
width:100%;
position:relative;
 
  /*
margin-left:10px;
border-top: 2px solid #F0F0F0;
border-bottom: 2px solid #F0F0F0;
display: none;
  */
}
div.h5p_annotationlist .sort_region
{
    position:relative;
    float:right;
    width:2%;
    padding-top:0.5em;
   
}
div.h5p_annotationlist .sort_container
{
position: absolute;;
display:none;
background:white;
padding:0.5em;
border:1px solid grey;
width:80px;
font-size:80%;
margin-top:-20px;
}
div.h5p_annotationlist .h5p_annotationlist_annotation_container
{ 
margin-right:0.5em;
padding-top:0.8em; 
width:100%;
overflow-x:scroll;
overflow-y:none;
border-right: 1px solid #D6D6D6;
float:left;
width:96%;

}

div.interaction_icon
{
	width:25%;
	float:left;
}
div.interaction_icon img:before {
  content: "\f128";
  }
div.h5p_annotationlist_annotation_item
{ 
	float:left;
        width:100px;
        padding-right:1em;
}
div.interaction_content
{
width:73%;
float:left;
}
div.interaction_content 
{
font-size:12px;
}
div.interaction_content h3 a:link, div.interaction_content h3 a:active, div.interaction_content h3 a  , div.interaction_content h3 a:visited
{
	text-decoration:none;
}
div.interaction_content h3 a:hover  
{
	text-decoration:underline;
}
div.interaction_content .duration a:link, div.interaction_content .duration a:active,   div.interaction_content .duration a:visited,   div.interaction_content .duration a
{
color:black;
font-size:80%;
} 
div.h5p_annotationlist_annotation_item .duration
{

/*	font-style:italic;*/
}
div.h5p_annotationlist_annotation_item h3
{
margin:0  ;
font-size:12px;
}

div.interaction_icon   a
{
border-radius:25%;
padding:1px;
width:1em;
height:1em;
margin-left:4px;
}
div.interaction_icon   a:link, div.interaction_icon   a:visited, div.interaction_icon   a:hover
{
    color:white;
    text-decoration: none;
} 
/*
Definitionen fuer die einzelnen Interaction-Buttons
Weitere Icon-Codes erhält man via https://fontawesome.com/icons?d=gallery&q=check
*/
/*blauer hintergrund*/
a.interaction_icon_h5ptext,a.interaction_icon_h5pimage,a.interaction_icon_h5ptable, a.interaction_icon_h5pivhotspot,a.interaction_icon_h5pnil  {
background: #1d5cff ;
}
/*pinker hintergrund*/
a.interaction_icon_h5psinglechoiceset, a.interaction_icon_h5pmultichoice,a.interaction_icon_h5pblanks,a.interaction_icon_h5pdragquestion,a.interaction_icon_h5psummary,a.interaction_icon_h5plink,a.interaction_icon_h5ptruefalse
{
background: #981D99;
}
a.interaction_icon_h5ptext:before {
  content: "\f055";
}
a.interaction_icon_h5plink:before {
  content: "\f0c1";
}
a.interaction_icon_h5pimage:before {
  content:  "\f03e";
}
a.interaction_icon_h5ptable:before {
  content:  "\f0ce";
}
a.interaction_icon_h5pivhotspot:before {
  content:  "\f067";
}
a.interaction_icon_h5pnil:before {
  content:  "\f02b";
}

a.interaction_icon_h5psinglechoiceset:before {
    content: "\f00c";
}
a.interaction_icon_h5pmultichoice:before {
  content: "\f046";
}
  
a.interaction_icon_h5pblanks:before {
  content: "\f0ae";
}  
a.interaction_icon_h5pdragquestion:before {
  content: "\f126";
}  
a.interaction_icon_h5psummary:before {
  content: "\f0ca";
} 
 
a.interaction_icon_h5ptruefalse:before {
  content: "\f128";
}
